#para1{
  font-size:30px;
  color:Black;
  
}
#para2{
  font-size:30px;
  color:Black;
}
#para3{
font-size:30px;
color:Blue
}

body{

/* background-image:url("https://i.ytimg.com/vi/oQtHENM_GZU/maxresdefault.jpg");*/
height: 700px ;
width: 700px;


}
